
/*-----------------------------GENERAL FORMATTING-----------------------------*/

*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*----- Text ----- */
body{
  background: #ffffff;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
h2{
  font-size: 25px;
  font-weight: 400;
  padding: 15px;
}
h3{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  text-align: left;
  font-size: 11px;
  color: #888888;
}
span{
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/*----- Button ----- */
.button{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #777;
  padding: 12px 34px;
  font-size: 13px;
  background: #c4c4c4;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover{
  border: 2px solid #777;
  background: #6f518a;
  transition: 1s;
}
b:link {
  color: #cab3de;
  background-color: transparent;
  text-decoration: underline;
}
b:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}


/*----- Navigation Links ----- */
.navlinks{
  flex: 1;
  text-align: right;
  transition: 1s;
}
.navlinks ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.navlinks ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.navlinks ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #a45c8e;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navlinks ul li:hover::after{
  width: 100%;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav .fa{
  display: none;
}
.navimg img{
  width: 50px;
  transform: scaleX(-1);
}
.navimg:hover img{
  transform: scaleX(1);
  transition: 0.5s;
}

@media(max-width: 700px){
  .navlinks ul li{
    display: block;
  }
  .navlinks{
    position: absolute;
    background: #a45c8e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    display: hidden;
  }
  .navlinks ul{
    padding: 30px;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .navimg img{
    width: 40px;
  }
}

/*----- Text Links ----- */
a:link {
  color: #1f77b4;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}
a:visited {
  color: #224e6d;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #9467bd;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

/*----- Header ----- */
.header {
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/RichieCrop.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.headertextbox{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.headertextbox h1{
  font-size: 120px;
  font-weight: normal;
  font-family: 'Fleur De Leah', cursive;
}
.headertextbox p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

@media(max-width: 700px){
  .headertextbox h1{
    font-size: 70px
  }
  .header {
    min-height: 50vh;
  }
}

/*----- Subheader ----- */
.subheader {
  min-height: 20vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/RichieCrop.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.subheadertextbox{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.subheadertextbox h1{
  font-size: 50px;
  font-weight: normal;
  font-family: 'Fleur De Leah', cursive;
}
.subheadertextbox p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

@media(max-width: 700px){
  .subheadertextbox h1{
    font-size: 80px
  }
  .subheader {
    min-height: 10vh;
  }
}

/*----- Footer ----- */
.footer {
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/RichieDaisyCrop.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.footertextbox{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
@media(max-width: 700px){
  .footer {
    min-height: 10vh;
  }
}

/*------------------------ HODGEPODGE AND ODGEBIGODGE ------------------------*/

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}
.card {
  height: 21em;
  width: 16em;
  font-size: 1.5em;
  color: white;
  border-radius:10px;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 20px -10px black;
  transition: all, 1s;
  position: relative;
  overflow: hidden;
  border: 5px solid #ffffff;
  text-decoration: none;
}
.card-content{
  backface-visibility: hidden;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display: block;
  padding: 8px;
}
.card-before {
  height: 100%;
  width: 100%;
  background: red;
  position: absolute;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), var(--bg-img);
  background-size: cover;
  background-position: center;
}
.card-before h2{
  position: absolute;
  bottom: 0;
  color: white;
}
.card-after {
  position: absolute;
  top: -140%;
  left:-140%;
  height : 140%;
  width : 140%;
  padding: 8px;
  background: white;
  font-size: 12px;
}
.card-after img{
  text-align: center;
  width: 70%;
  height: auto;
}
.card-after h2{
  color: #929292;
  width : 70%;
  margin-top: -15px;
  margin-bottom: -15px;
}
.card-after p{
  color: #929292;
  width : 70%;
}
.card-after h5{
  position: absolute;
  bottom: 30%;
  color: #929292;
  width : 70%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.card:hover .card-after {
  top: 0%;
  left: 0%;
  width: 140%;
  height: 140%;
  border-radius: 0% 0% 80% 0%;
  opacity: 1;
  transition: 0.7s;
  transition-timing-function:cubic-bezier(0,0.1,0.5,1);
}
.card:not(hover) .card-after {
  top: -100%;
  left:-100%;
  width: 140%;
  height: 140%;
  height: 0;
  opacity: 0;
  transition: 1s;
}

@media(max-width: 700px){
  .cards-wrapper {
      grid-template-columns: 1fr;
      padding: 5vw;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      /margin-left: 0;
      /text-align: center;
    }
    .card {
      max-width: 90vw;
    }
  }


/*-------------------------------- RESOURCES ---------------------------------*/
/*
Fonts: https://fonts.google.com/
Icons: https://fontawesome.com/v4.7/icons/
Placeholder images: https://placeholder.com/
*/
